<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User Sessions
    </title>
    <link href="css/session.css" rel="stylesheet" type="text/css">
    <%- include('index') -%>
</head>

<body>
    <div class="container">


        <ul class="flex-container">
            <% sesssions.forEach(function(session) { %>
                <li class="flex-item">

                    <div class="card">

                        <div class="card-body">
                            <div class="list-group">

                                <div class="list-group-item">
                                    <span class="list-group-key"> Os : </span>
                                    <span class="list-group-value">
                                        <%= session.os || "None" %>
                                    </span>
                                </div>

                                <div class="list-group-item">
                                    <span class="list-group-key"> Browser :</span>
                                    <span class="list-group-value">
                                        <%= session.browser || "None " %>
                                    </span>
                                </div>

                                <div class="list-group-item">
                                    <span class="list-group-key"> Status :</span>
                                    <span class="list-group-value">
                                        <%- session.isActive ? "Active" : "Terminated" %>
                                    </span>
                                </div>

                                <div class="list-group-item">
                                    <span class="list-group-key"> Created At :</span>
                                    <span class="list-group-value">
                                        <%= session.createdAt.toISOString().slice(0, 10) %>
                                    </span>
                                </div>




                            </div>

                            <% if(session.isActive){ %>
                                <button style=" margin-top: 5px;" class="btn btn-info"
                                    onclick="terminateSession('<%=session%>')">Terminate Session</button>
                                <% } else{ %>
                                    <button class="btn btn-danger" style="margin-top: 5px;"
                                        onclick="<%= deleteSession(session) %>">
                                        Delete Session

                                    </button>
                                    <% } %>



                        </div>

                    </div>

                </li>
                <% }) %>

        </ul>





    </div>


    <script src="js/session.js"></script>
</body>





</html>